.new-section {
  background-color: #000;
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 300vh; /* Pode ser ajustado dependendo do conteúdo */
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.direction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.direction p {
  flex: 1;
  font-size: 20px;
  margin-right: 20px;
}

.direction div {
  width: 30%;
}

.foto {
  max-width: 500px;
  height: 20rem;
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  margin-top: 2rem;
}

.boxContent {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  transition: transform 2000ms ease-in-out;
}

.boxContent.rotate {
  transform: rotateX(180deg);
}

.skills, .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  position: absolute;
  backface-visibility: hidden;
}

.skills {
  transform: rotateX(0deg);
}

.projects {
  transform: rotateX(180deg);
}

.skills h1, .projects h1 {
  margin-bottom: 20px;
}

.softskills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.hardskills {
  margin-top: 20px;
}

.rotate-button {
  padding: 10px 20px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rotate-button:hover {
  background-color: white;
  color: black;
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
  .new-section {
    padding: 30px 10px; /* Reduzir o padding em telas menores */
    height: 250rem; /* Ajusta a altura */
  }

  .direction {
    flex-direction: column; /* Muda a direção para coluna em telas pequenas */
    align-items: flex-start; /* Alinha os itens à esquerda */
  }

  .direction p {
    margin-right: 0; /* Remove a margem direita */
    margin-bottom: 10px; /* Adiciona espaço abaixo */
    font-size: 18px; /* Ajusta o tamanho da fonte */
  }

  .direction div {
    width: 100%; /* Faz com que os divs ocupem toda a largura */
  }

  .foto {
    max-width: 90%; /* Reduz a largura máxima da imagem */
    height: auto; /* Permite que a altura seja ajustada automaticamente */
  }

  .rotate-button {
    font-size: 1rem; /* Ajusta o tamanho da fonte do botão */
    padding: 8px 16px; /* Ajusta o padding do botão */
  }

  .softskills {
    padding: 30px; /* Ajusta o padding */
  }
}
@media (max-width: 500px) {
  .new-section {
    height: 290rem; /* Ajusta a altura */
  }
}