
.wheel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
    background-color: black; /* Alterar a cor de fundo, se necessário */
  }
  
  .wheel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .wheel-icon {
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: font-size 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .wheel-icon:hover {
    font-size: 5rem;
  }
  
  
  .wheel-icon:nth-child(1) { transform: rotate(0deg) translateX(120px) rotate(0deg); }
  .wheel-icon:nth-child(2) { transform: rotate(32.72deg) translateX(120px) rotate(-32.72deg); }
  .wheel-icon:nth-child(3) { transform: rotate(65.44deg) translateX(120px) rotate(-65.44deg); }
  .wheel-icon:nth-child(4) { transform: rotate(98.16deg) translateX(120px) rotate(-98.16deg); }
  .wheel-icon:nth-child(5) { transform: rotate(130.88deg) translateX(120px) rotate(-130.88deg); }
  .wheel-icon:nth-child(6) { transform: rotate(163.6deg) translateX(120px) rotate(-163.6deg); }
  .wheel-icon:nth-child(7) { transform: rotate(196.32deg) translateX(120px) rotate(-196.32deg); }
  .wheel-icon:nth-child(8) { transform: rotate(229.04deg) translateX(120px) rotate(-229.04deg); }
  .wheel-icon:nth-child(9) { transform: rotate(261.76deg) translateX(120px) rotate(-261.76deg); }
  .wheel-icon:nth-child(10) { transform: rotate(294.48deg) translateX(120px) rotate(-294.48deg); }
  .wheel-icon:nth-child(11) { transform: rotate(327.2deg) translateX(120px) rotate(-327.2deg); }
  
  @keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  