.wheel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70vh;
  width: 100vw;
  background-color: black;
  margin: 0 2rem;
}

.wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.wheel-icon {
  color: white;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: font-size 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.wheel-icon:hover {
  font-size: 5rem;
}

.selected {
  background: linear-gradient(to bottom right, rgb(95, 78, 100), rgb(200, 0, 255), rgb(95, 78, 100));
  border-radius: 50%;
  padding: 1rem;
}

.description {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .wheel-container {
      margin: 0 1rem;
  }

  .wheel {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      gap: 1rem;
  }

  .wheel-icon {
      font-size: 2.5rem;
  }

  .description {
      font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .wheel-container {
      margin: 0 0.5rem;
  }

  .wheel {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
      gap: 0.5rem;
  }

  .wheel-icon {
      font-size: 2rem;
  }

  .description {
      font-size: 1rem;
  }
}
